name: Send email

# on:
#   schedule:
#     - cron: '0 6 * * *'

# If uncommented run on every push to every branch for easier debugging
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: read-all

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          cache: 'npm'

      - name: Last successful run
        id: last_success
        run: echo "LAST_SUCCESS=$(gh api -XGET repos/${{ github.repository_owner }}/${{ github.event.repository.name }}/actions/workflows/${{ github.job_workflow_sha }}/runs --jq '.workflow_runs[0].run_started_at' -F status=success -F per_page=1)" >> $GITHUB_OUTPUT
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - run: npm ci

      - name: Create email
        run: npm run email actionUrl=${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }} lastSuccess=${{ steps.last_success.outputs.LAST_SUCCESS }}

      - name: Check email exists
        id: check_email
        uses: andstor/file-existence-action@v2.0.0
        with:
          files: 'dist/email.html'

      - name: Send email
        if: steps.check_email.outputs.files_exists == 'true'
        uses: dawidd6/action-send-mail@v3.7.1
        with:
          server_address: smtp.fastmail.com
          server_port: 587

          username: ${{ secrets.MAIL_USERNAME }}
          password: ${{ secrets.MAIL_PASSWORD }}

          subject: RSS to Email
          to: ${{ secrets.MAIL_TO }}
          from: ${{ secrets.MAIL_USERNAME }}

          html_body: file://dist/email.html
